.login-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

h2 {
  margin: 10px 10px 10px 10px;
}

.login-form {
  margin: 10px 10px 10px 10px;
}

input {
  margin-right: 10px;
}
