<div class="container">
    @if(isAdmin){
      <div class="side-menu">
        <a routerLink="contract-list" mat-raised-button class="contract-button">All Contracts</a>
        <a mat-raised-button class="sallary-button">Calculate Sallary</a>
      </div>
      <div class="test-contract">
        <router-outlet></router-outlet>
      </div>
    }
    @else {
      <div class="side-menu">
        <a routerLink="contract-list" mat-raised-button class="contract-button">My Contracts</a>
        <a routerLink="contract-create" mat-raised-button class="create-button">Create Contract</a>
      </div>
      <div class="contract-list" >
        <router-outlet></router-outlet>
      </div>
    }
</div>
