.container{
  display: flex;
  flex-direction: row;
}

.side-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 97vh;
  border-right: 2px solid black;
  justify-content: start;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: rgb(205, 208, 214);
  width: 100%;
  border-bottom:2px solid black;
  justify-content: center;
}

.contract-list{
  padding: 5px 5px 5px 5px;
  flex-grow: 4;
  min-width: 60%;
}

.test-contract {
  padding: 5px 5px 5px 5px;
  flex-grow: 4;
  min-width: 60%;
  min-height: 80%;
}

a {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.contract-button {
  background-color: aliceblue;
}

contract-display {
  display: block;
  height: 100%;
}
