<div>
  <p>Contract</p>

  <mat-divider></mat-divider>
  <label>Client Information</label>
  <div class="client-fields">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput [(ngModel)] = "clientName" name="ClientName">
      <mat-hint>Name</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input type="text" matInput [(ngModel)] = "clientSurname" name="ClientSurname">
      <mat-hint>Surname</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input type="text" matInput [(ngModel)] = "clientAddress" name="ClientAddress">
      <mat-hint>Address</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input type="text" matInput [(ngModel)] = "clientPhone" name="ClientPhone">
      <mat-hint>Phone Number</mat-hint>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <label>Insurance Type</label>
  <div class="insurance-fields">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        @for (item of items; track $index) {
          <mat-option value={{$index}}>{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput>
      <mat-hint>Insurance Amount</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <input matInput>
      <mat-hint>Duration</mat-hint>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div>
    <button class="submit-button">submit</button>
  </div>
</div>
